body {
  font-family: 'Montserrat', sans-serif !important;
  overflow: scroll;
}

* {
  margin: 0px;
  --greyish-two: #b7b7b7;
  --pale-orange: #ffa15f;
  --dark-grey: #202124;
  --pumkin-orange: #ff7413;
  --greyish-brown: #4d4d4d;
  --strawberry: #f63f45;
  --white-four: #d4d3d3;
  --white-two: #f6f6f6;
}

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.content {
  flex-grow: 1;
  padding: 40px 130px;
}

#header-wrap{ position:absolute;}

.Navbar {
  object-fit: contain;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.08);
  background-color: var(--white);
  padding: 21px 0px 15px 0px;
  position: relative;
}

.search-wrapper {
  width: 181px;
  height: 35px;
  border-radius: 17px;
  margin-left: 130px;
  border: solid 1px var(--greyish-two);
  font-family: 'Montserrat', sans-serif;
}

input {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  border: none;
  text-indent: 10px;
}

.Logo {
  object-fit: contain;
  vertical-align: super !important;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  width: 96px;
  height: 20px;
}

.login-btn {
  width: 120px;
  height: 35px;
  border-radius: 100px;
  border: solid 1px var(--pale-orange);
  color: var(--pale-orange);
  font-family: 'Montserrat', sans-serif;
}

.signup-btn {
  margin-right: 24px;
  font-size: 14px;
  border: none;
  font-family: 'Montserrat', sans-serif;
  color: var(--greyish-brown);
}

.nav-group {
  display: inline;
  right: 130px;
  position: absolute;
}

.title {
  display: block;
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  color: var(--dark-grey);
  font-family: 'Montserrat', sans-serif;
}

.input-label {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 12px;
  color: var(--dark-grey);
}

.form-group {
  margin: 35px 80px 60px 80px;
}

.margin-top-20 {
  margin-top: 20px;
}

.term {
  margin: 20px 60px 50px 60px;
  font-size: 14px;
  line-height: 1.57;
  color: var(--dark-grey);
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

.term .text-link {
  font-weight: bold;
  color: var(--pumkin-orange);
  text-decoration: underline;
}

.modal-backdrop.in {
	opacity: 0.5;
}

.btn-register {
  width: -webkit-fill-available;
  height: 45px;
  color: white;
  font-family: 'Montserrat', sans-serif;
  background: var(--pale-orange);
  font-weight: bold;
}

.btn-register:disabled {
  width: -webkit-fill-available;
  height: 45px;
  color: white;
  background-color: var(--white-four);
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

.btn-haveAccount {
  font-size: 14px;
  border: none;
  color: var(--pumkin-orange);
  font-weight: bold;
  text-decoration: underline;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.57;
}

.footer-text {
  color: var(--greyish-brown);
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.57;
}

.list-inline {
  height: 30px;
  line-height: 30px;
  margin-bottom: 0px;
}

li.list-inline-item {
  vertical-align: middle;
}

.img-first {
  float: left !important;
  width: 96px;
  height: 20px;
  left: 0;
}

li img {
  width: inherit;
}

img:hover {
  cursor: pointer;
}

.list-inline-item.right-text {
  float: right;
}

.margin-right-20 {
  margin-right: 20px !important;
}

.checkbox-text {
  margin-left: 6px;
  line-height: 1.57;
  color: var(--greyish-brown);
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
}

input[type="checkbox"] {
  width: 24px !important;
  height: 24px !important;
}

li:last-child.forgot-pass{
  float: right;
}

.btn-forgotPass {
  border: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 600;
}

.btn-login {
  width: -webkit-fill-available;
  height: 45px;
  color: white;
  background: var(--pale-orange);
  margin-top: 45px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

.btn-login:disabled {
  width: -webkit-fill-available;
  height: 45px;
  color: white;
  background: var(--white-four);
  margin-top: 45px;
}

.error-text {
  font-size: 10px;
  font-weight: 500;
  color: var(--strawberry);
  line-height: 2.2;
}

.text-muted {
  font-size: 10px;
  font-weight: 500;
  color: #808080;
  line-height: 2.2;
}

.form-control {
  background-color: var(--white-two) !important;
  border: 1px solid var(--greyish-two) !important;
}

.login-error {
  font-size: 12px;
  line-height: 1.83;
  font-weight: 500;
  color: var(--strawberry);
}

.footer {
  position: relative;
  right: 0;
  left: 0;
  bottom: 0;
  padding: 40px 130px 21px 130px;
  background-color: #fff;
  box-shadow: 0 -2px 4px 0 rgba(0, 0, 0, 0.08), 0 -1px 4px 0 rgba(0, 0, 0, 0.08);
}

.big-footer-text {
  font-size: 14px;
  color: var(--greyish-two);
  line-height: 1.57;
  font-weight: normal;
  font-family: 'Montserrat', sans-serif;
}

.small-footer-text {
  font-size: 12px;
  color: var(--greyish-two);
  line-height: 1.83;
  font-weight: 500;
  font-family: 'Montserrat', sans-serif;
}

.margin-left-40 {
  margin-left: 40px;
}

.margin-left-20 {
  margin-left: 20px;
}

.line {
  margin: 45px 0px 20px 0px;
}

.top-line {
  margin: 13px 0px 10px 0px;
  height: 1px;
  background-color: #ececec;
}

.menu-item {
  border: none;
  font-size: 14px;
  color: var(--dark-grey);
  font-weight: 500;
  line-height: 1.57;
  padding-left: 10px;
  padding-right: 10px;
  font-family: 'Montserrat', sans-serif;
}

.right-icon {
  padding-left: 4px;
}

.dropdown {
  top: 40px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
  border: solid 0.5px #eaeaea;
  background-color: #fbfbfb;
  position: absolute !important;
  left: 50%;
  transform: translate(-50%);
}

button:focus {
  outline: none;
}

.menu {
  position: relative;
  text-align: center;
}

.btn-group {
  display: flex !important;
  z-index: 100;
}

.btn-group-item {
  width: auto;
  padding: 14px;
  background-color: #fbfbfb;
  border: none;
  font-family: 'Montserrat', sans-serif;
}