* {
    --dark-grey: #202124;
}

.router {
    text-align: center;
    font-weight: 400;
    color: var(--dark-grey);
    display: block;
    margin-bottom: 40px;
    line-height: 1.57;
}

.left-side {
    float: left;
    width: 20%;
    margin-right: 20px;
    overflow-y: auto;
}

.right-side {
    width: 80%;
    position: fixed;
    overflow-y: auto;
}

.category-label {
    font-size: 16px;
    line-height: 1.5;
    color: var(--dark-grey);
    margin-bottom: 20px;
}

.category-btn {
    border: none;
    padding: 9px 0px;
}