.login-page {
    position: relative;
    width: 100vw;
    height: calc(8500vw/144);
    min-height: 100vh;
    object-fit: contain;
    background-blend-mode: normal, color;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.5), rgba(0, 0, 0, 0.5));
    background-image: url('/rectangle-5@2x.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.login-page-logo {
    position: absolute;
    width: 9.1vw;
    height: 1.875vw;
    margin-left: 3.05vw;
    margin-top: 2.92vw;
}

.login-form {
    position: absolute;
    top: calc(2130vw/144);
    bottom: calc(2130vw/144);
    left: calc(5300vw/144);
    right: calc(5300vw/144);
    width: auto;
    height: calc(4240vw/144);
    padding: calc(320vw/144);
    opacity: 0.8;
    border-radius: 2px;
    backdrop-filter: blur(10px);
    box-shadow: 0 10px 24px 0 rgba(0, 0, 0, 0.08);
    background-color: rgba(61, 61, 63, 0.8);
}

.login-text-center {
    font-size: calc(280vw/144);
    font-weight: bold;
    line-height: 1.29;
    color: var(--pale-orange);
    text-align: center;
}

.label-text {
    margin-bottom: calc(80vw/144);
    font-weight: 600;
    line-height: 1.5;
    color: var(--greyish);
}

#password-label {
    margin-top: calc(200vw/144);
}

.login-page-login-button {
    margin-top: calc(400vw/144);
    margin-bottom: calc(320vw/144);
    width: -webkit-fill-available;
    background-color: var(--pale-orange);
    border-radius: 2px;
    height: calc(10vw/3);
    font-size: calc(140vw/144);
    font-weight: 600;
    line-height: 1.71;
    color: white;
}

.login-page-login-button:disabled {
    margin-top: calc(400vw/144);
    margin-bottom: calc(320vw/144);
    width: -webkit-fill-available;
    background: var(--white-four);
    border-radius: 2px;
    height: calc(10vw/3);
    font-size: calc(140vw/144);
    font-weight: 600;
    line-height: 1.71;
    color: white;
}

.login-page-input {
    width: -webkit-fill-available;
    height: calc(10vw/3);
    border: solid 1px var(--white-three);
    background: white;
    border-radius: 2px;
    font-size: calc(140vw/144);
    font-weight: 500;
    line-height: 1.43;
    text-indent: calc(160vw/144);
    color: var(--greyish);
}

.login-page-forgotpass-button {
    padding: 0;
    border: none;
    background: transparent;
    color: white; 
    margin-left: 50%;
    transform: translate(-50%);
    font-size: calc(120vw/144);
    font-weight: 600;
}

.login-page-input::placeholder {
    color: var(--greyish);
    font-size: calc(140vw/144);
    font-weight: 500;
    line-height: 1.43;
}

.login-error-text {
    font-size: 12px;
    line-height: 1.83;
    font-weight: 500;
    color: var(--strawberry);
    text-align: center;
}

.error-text-container {
    height: calc(200vw/144);
    width: -webkit-fill-available;
    margin: 0;
}